# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/
build/

# Env
.env
.env.*
!.env.example

# Debug / OS
npm-debug.log*
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo

# IDE
.idea/
.vscode/
.env*.local
